body {
    /* background-image: "http://digitalguru.co.il/cwsd.php?bXYxJzQ0JQ__/PzM_/YGx6enxgfyIxImtjdA__.jpg"; */
    padding-top: 65px;
  }
    .login-container {
      margin-top: 80px;
    }
    
    .signup-container {
      margin-top: 80px;
    }
    
    .panel-success {
      background-color: #3c763d;
      padding: 10px 20px;
      color: white;
    }
    
    .panel-success > p {
      margin: 0;
    }
    
    .panel-error {
      background-color: #a94442;
      padding: 10px 20px;
      color: white;
    }
    
    .panel-error > p {
      margin: 0;
    }
  
.col91{
  width: 2vw;
}

.col92{
  width: 20vw;
}

.col93{
  width: 25%;
}

.col94{
  width: 25%;
}

.col95{
  width: 20%;
}